* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, nav {
    font-family: 'Poppins', sans-serif;
}

main {
    font-family: 'Noto Sans', sans-serif;
}

/*-------------- Header --------------*/
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background: #CBC3E3;
}

.h1-container {
    margin-right: 20px;
}

h1 {
    font-size: 1.1em;
    font-weight: 500;
}

h1, h2 {
    color: white;
}

.h1-span {
    font-weight: 300;
}

.student-container {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}

.bell {
    width: 32px;
    height: 32px;
    border-right: 1px solid lightgrey;
    padding-right: 10px;

    fill: white;
}

.bell::after {
    /* content: '';
    width: 10px;
    height: 10px;
    border-radius: 7.5px;
    background-color: black;
    display: inline-block; */
}

.profile-pic {
    width: 35px;
    border-radius: 50%;
}

h2 {
   font-size: 14px;
   font-weight: 300;
   white-space: nowrap;
}

/*-------------- navigation --------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 30px;
    background-color: #493F5E;
}

.nav-img {
    width: 32px;
    fill: white;
}

a {
    margin-top: 10px;
}

/*-------------- main --------------*/

/*-------------- charts --------------*/
.h3-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.tab-side {
    background: ghostwhite;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
h3 {
    padding: 10px;
    font-size: 18px;
}
h4 {
    padding-bottom: 5px;
    text-transform: uppercase;
}
h3, h4 {
    font-weight: 600;
}
.line-btn {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}
.line-btn:focus {
    background-color: lightgreen;
    color: white;
    border-radius: 15px;
    transition: color .5s, background-color 1.2s;
}
.line-btn:hover {
    cursor: pointer;
}
.line-chart-container {
    padding: 0 0px 15px 15px;
    /* background: lightblue; */
}

.bar-chart-container {
    padding: 15px 10px 15px 10px;
}

.doughnut-chart-container {
    padding: 15px 0 25px 10px;
}
.doughnut-chart-wrapper {
    margin-left: 15px;
}

.line-chart-container,
.bar-chart-container,
.doughnut-chart-container {
    border-bottom: 1px solid black;
}

.line-chart-wrapper,
.bar-chart-wrapper,
.doughnut-chart-wrapper {
    padding-top: 20px;
}

/*-------------- social stats --------------*/
